.title {
	font-family: 'Manrope';
	margin: 0;
}

.text {
	font-family: 'Manrope';
	margin: 0;
}

.error {
	.title {
		color: red;
	}

	.text {
		color: red;
	}
}

.accent {
	.title {
		color: white;
	}

	.text {
		color: white;
	}
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.size_s {
	.title {
		color: rgb(255, 255, 255);
		font-family: 'Manrope';
		font-size: 18px;
	}

	.text {
		color: rgb(255, 255, 255);
		font-family: 'Manrope';
		font-size: 16px;
	}
}

.size_m {
	.title {
		color: rgb(255, 255, 255);
		font-family: 'Manrope';
		font-size: 24px;
	}

	.text {
		color: rgb(255, 255, 255);
		font-family: 'Manrope';
		font-size: 20px;
	}
}

.size_l {
	.title {
		color: rgb(255, 255, 255);
		font-family: 'Manrope';
		font-size: 32px;
	}

	.text {
		color: rgb(255, 255, 255);
		font-family: 'Manrope';
		font-size: 24px;
	}
}

.bold {
	.title,
	.text {
		color: rgb(255, 255, 255);
		font-family: 'Manrope';
		font-weight: bold;
	}
}
