.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #020203, #343435);
  max-height: 200px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  background-image: url("../../shared/assets/images/logo.jpg");
  width: 200px;
  height: 200px;
  margin-right: 1rem;
}

.textContainer {
  color: white;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.subtitle {
  font-size: 16px;
  opacity: 0.8;
}
